%h1 Friends
.search-area
  %h3 Search Friends
  = form_tag search_friend_path, remote: true, method: :get do
    .form-group.row
      .col-sm-9.no-right-padding
        = text_field_tag :friend, params[:friend], placeholder: 'Name or email', autofocus: true, class: 'form-control form-control-lg'
      .col-sm-3.no-left-padding
        = button_tag type: 'submit', class: 'btn btn-success' do
          = fa_icon 'search 2x'

#friend-results
- if !@friends.empty?
  = render 'friends/list'
